node_modules/
bower_components/
.sass-cache/
.tmp/
dist/
src/app/**/*.js
src/app/**/*.js.map
test/**/*.js
test/**/*.js.map
.idea/
src/app/components/*/Templates.ts
src/app/shared/*/Templates.ts
src/app/components/config/Translations.ts
_ReSharper.Caches/
/*.suo
/*.user
/bin
/obj
