<div class="col-md-1" dropdown>
    <button style="width: 135px;" class="btn btn-default dropdown-toggle" type="button" id="companyMenuDropdown" data-toggle="menu"
            aria-haspopup="true" aria-expanded="true" dropdown-toggle>
        {{"COMPANY_MENU" | translate}}
        <span class="caret"></span>
    </button>
    <div class="dropdown-menu" style="margin-left: 10px;" aria-labelledby="companyMenuDropdown">
        <div ng-click="$event.stopPropagation();">
            <div class="container" style="max-width: 350px;">

                <div id="companies" ng-repeat="companyFilter in companyFiltersCtrl.companyFilters">
                    <company-filter-item company="companyFilter"></company-filter-item>
                </div>
                <button class="btn btn-default" ng-click="companyFiltersCtrl.addCompany()"><span
                        class="glyphicon glyphicon-plus"></span></button>
                Add Another!
            </div>
        </div>
    </div>
</div>