<div class="content_margin">
    <div>
        <h1 class="centerColumn-title">Property Trade Search<span class="registeredTM">&trade;</span>
            <div class="ivSubHeading">Our Premier, Global Transactional Commercial Real Estate Database</div>
        </h1>
    </div>

    <div style="line-height: 21px;">
        <span style="color: #ea7517; font-weight: bold;">Online access to our proprietary database complete with buyers, sellers, brokers, lenders, terms and key property attributes&hellip;all with RCA&rsquo;s proven commitment to data integrity.</span>
        <br />
        <br />
        Given any market globally, users can instantly survey property investment activity. This industry-leading data can help compare pricing and cap rates, or see the most active buyers, sellers and brokers in that market. Graphs and statistics are also readily available.<br />
        <br />
        Subscribers can easily produce maps with a Comparable Set of recent transactions, or comprehensive Property Detail reports.<br />
        <br />
        Further information is available on over 150,000+ <a href="/#/InvestorProfiles">Investor Profiles</a>, that include key contact information, complete transaction history and known holdings.
    </div>
    <br />
    <div style="display:none;">
        <span style="color: #EA7517; font-weight: bold; text-decoration: underline;">Property Trade Search features:</span>
        <ul class="RCAbullet" style="margin-top: 0px">
            <li>Comprehensive data for over $10 trillion of CRE property transactions</li>
            <li>QuickSearch from the homepage featuring Market/Property Type, Company, Address and CMBS QuickSearch</li>
            <li>Access to Advanced Property Trade Search with additional comprehensive filters and search criteria</li>
            <li>Instant property lists with additional filters and sorting criteria</li>
            <li>Links to Property Detail pages as well as <a href="/#/InvestorProfiles">Investor Profiles</a></li>
            <li>Property Details include market, building/land characteristics, transaction and player information, financing and history sections as well as geocoded photos</li>
            <li>Exportability to PDF or Excel</li>
        </ul>
        <br />
        * Securitized loans represent less than 50% of total<br />
        ** Based on data from the US<br />
    </div>
    <br />
</div>