<div class="content_margin">
    <h1 class="centerColumn-title">
        US Capital Trends<span class="registeredTM">&reg;</span></h1>
    <p>
        Real Capital Analytics issues comprehensive reports summarizing recent investment activity and trends for each of the four core property types. Investment activity is <a href="/#/analysis" title="Analysis">analyzed</a> collectively and arranged by property attributes, geographic markets and investment by capital sector.</p>
    <p>
        New content is published regularly as the focus of the reports rotates through in-depth discussion of volume and pricing, the composition and depth of the investor base, transaction structures and sellers. Reports also include quarterly rankings of leading deals, buyers, sellers and brokers.</p>
    <br style="clear: both;" />
    <div class="contcactlcol" style="width: 240px; float: left;">
        <h3>
            Regular topics include:</h3>
        <p class="acp">
            Investor Composition<br />
            Sellers &amp; Net Investment<br />
            Volume &amp; Pricing<br />
            Distressed Property Data</p>
    </div>
    <div class="contactrcol" style="width: 180px; display: none;">
        <h3>
            View a sample report</h3>
        <br />
        <p class="acp">
            <a href="/misc/free_report_US.pdf" class="PTSiconlinks icon_pdf">download</a></p>
    </div>
    <br style="clear: both;" />
    <br style="clear: both;" />
    <div style="width: 473px;">
        <div style="float: left; width: 155px; margin-left: 6px;">
            <h3>
                Market Stats</h3>
            <img src="/images/content/CTM_marketex.gif" alt="Market Stats Report Example" style="width: 147px; height: 180px; border: none;" />
        </div>
        <div style="float: left; width: 150px; padding-left: 2px;">
            <h3>
                Leading Lists</h3>
            <img src="/images/content/CTM_leadex.gif" alt="Leading Lists Example" style="width: 147px; height: 180px; border: none;" />
        </div>
        <div style="float: right; width: 152px;">
            <h3>
                Recent Deals</h3>
            <img src="/images/content/CTM_recentex.gif" alt="Recent Deals Report Example" style="width: 146px; height: 180px; border: none;" />
        </div>
    </div>
    <br style="clear: both;" />
    <p style="clear: left; margin-top: 14px;">
        For more comparable sales and analyses, clients may also access the <a href="/#/aboutPTS">Property Trade Search</a> tool and <a href="/#/aboutTrendsAndTrades">Market Trends &amp; Trades</a> reports.
    </p>
</div>