<div class="content_margin">
    <!-- FB Case 11500  New Headers -->
    <h1 class="centerColumn-title">
        Market Trends &amp; Trades<span class="registeredTM">&reg;</span></h1>
    <p>
        These comprehensive US market reports summarize recent investment activity and chart property sales trends for each of the four core property types (apartment, industrial, office and retail).</p>
    <p>
        Note: upon the release of our Q4&rsquo;10 data in 2011, these quarterly reports will be discontinued.</p>
    <h3>
        Each report features:</h3>
    <ul class="RCAbullet">
        <li>Quarterly statistics on investment sales and offerings</li>
        <li>Cap rates and prices by property type, year built and closed price</li>
        <li>Local and national comparisons</li>
        <li>Average percent of ask price achieved</li>
        <li>Average mortgage interest rates</li>
        <li>Buyer and seller composition</li>
        <li>Submarket volume statistics</li>
        <li>Leading buyers, sellers, brokers and lenders</li>
        <li>Largest recent deals</li>
    </ul>
    <p>
        There are currently over <b>60</b> different Market Trends &amp; Trades<span class="registeredTM">&reg;</span> reports available, all based on US data current through the most recently completed quarter.
    </p>
    <br class="clear" />
    <h3>
        View a sample report</h3>
    <a href="/Misc/RCA_TT_sample_commercial_property_report.pdf" class="icon_pdf" target="_blank">Download</a>
</div>