<div class="content_margin">
    <h1 class="centerColumn-title">
        Global Capital Trends<span class="registeredTM">&reg;</span>
    </h1>
    <div style="width: 180px; margin-left: 25px; padding: 12px; border: 2px solid #ea7517; float: right;">
        <h3>
            View a sample report</h3>
        <p class="acp" style="text-align: center;">
            <a href="/misc/free_report_Global.pdf" class="icon_pdf" target="_blank">Download sample issue</a></p>
        <h3>
            Use Global Capital Trends<span class="registeredTM">&reg;</span> reports to:</h3>
        <ul class="RCAbullet">
            <li>Easily make detailed comparisons between international markets</li>
            <li>Get meaningful insights into global property investment trends</li>
            <li>See countries and investors ranked by transaction activity</li>
            <li>Monitor cross-border capital flows</li>
        </ul>
    </div>
    <p>
        Global Capital Trends<span class="registeredTM">&reg;</span> is Real Capital Analytics&rsquo; main report on the worldwide commercial real estate industry. Global Capital Trends<span class="registeredTM">&reg;</span> summarizes recent investment activity and trends for all of the major property types. The report also regularly includes rankings of leading deals, buyers, sellers and brokers.</p>
    <p>
        Each issue of Global Capital Trends<span class="registeredTM">&reg;</span> includes a wealth of data delivered to your inbox, including:</p>
    <ul class="RCAbullet">
        <li>Volume and pricing</li>
        <li>Investor composition and leading buyers</li>
        <li>Transaction structures</li>
        <li>Niche property types</li>
    </ul>
    <p>
        Global Capital Trends<span class="registeredTM">&reg;</span> subscribers receive the latest information about the global commercial real estate markets, reported on by industry experts. No longer do you need to go searching for this important information&mdash;now it is delivered directly to you, from a name you trust.
    </p>
    <br style="clear: both;" />
    <p>
        If you're looking for more detailed comparable sales data, you may be interested in accessing our <a href="/#/aboutPTS">Property Trade Search</a> tool. For analyses of US trends, see our <a href="/#/aboutUSCT">US Capital Trends<span class="registeredTM">&reg;</span></a> reports.
    </p>
</div>