<div class="content_margin">
    <h1 class="centerColumn-title">
        <asp:Label ID="title_tx" runat="server" />Analysis</h1>
    <p>
        In addition to collecting transactional information for current property sales and financings, Real Capital Analytics analyzes and interprets the data. We provide valuable insight into the dynamic capital environment for real estate by covering such trends as:</p>
    <div class="contactlcol">
        <ul class="RCAbullet">
            <li>Condominium conversions</li>
            <li>Sale leasebacks</li>
            <li>Broker rankings</li>
            <li>Sources of acquisition financing</li>
            <li>Portfolio vs. one-off sales</li>
            <li>Property prices vs. construction costs</li>
            <li>Pricing by capital source</li>
            <li>REIT privatizations</li>
            <li>Cross-border investments</li>
            <li>Student housing</li>
            <li>Redevelopments</li>
        </ul>
    </div>
    <div class="contactrcol">
        <ul class="RCAbullet">
            <li>Core vs. value-add pricing</li>
            <li>CMBS underwriting</li>
            <li>Holding periods</li>
            <li>Mortgage rates &amp; debt terms</li>
            <li>Bid ask spreads</li>
            <li>Single tenant vs. multi-tenant</li>
            <li>R&amp;D, lab &amp; tech/telecom properties</li>
            <li>Medical office buildings</li>
            <li>Prices of vacant properties</li>
            <li>Big box/hyper centers</li>
            <li>Composition of capital sources</li>
            <li>Joint venture transactions</li>
        </ul>
    </div>
</div>