<div class="content_margin">
    <h1 class="centerColumn-title">
        Methodology / Sources</h1>
    <p>
        Real Capital Analytics (RCA) is dedicated and committed to always obtaining the best and most extensive commercial property information possible.</p>
    <p>
        Each commercial transaction is meticulously organized, standardized and reviewed internally according to strict guidelines and quality control measures. On average, each transaction is independently reviewed by two or more skilled researchers and based on two or more independent sources. The confidence in each price is categorized by <a href="../glossary/p/Pricing-Qualifiers.aspx">pricing qualifiers</a> depending on the source of the information. RCA also attempts to track all parties to a deal including the buyer, seller, any joint venture partners, advisors, lenders and the brokers involved.</p>
    <p>
        While the transparency of investment markets and availability of information varies greatly by country and market, RCA works hard to capture all relevant information possible. The information available through RCA is far more comprehensive than anything currently available in the public domain. Although mistakes and omissions do occur, the information is updated and revised continuously.</p>
    <!-- New January 4, 2012 -->
    <h3>
        Revisions to Methodology</h3>
    <p>
        Responding to feedback from our users and after consultation with many of our clients, RCA is implementing several changes and clarifications to our methodology. They are as follows:</p>
    <ul class="RCAbullet">
        <li><span style="font-weight: bold;">Accounting for Partial Interest Transactions</span> (January 2012) <a href="/Misc/Partial_Interest_Methodology.pdf" class="icon_pdf">PDF</a>
            <p>
                Investment volume totals and rankings will include all partial interests at the pro-rated share of the property value. Currently, minority interests are excluded and majority interests are grossed up to full property value.</p>
        </li>
        <li><span style="font-weight: bold;">Accounting for Entity-Level Transactions</span> (January 2012) <a href="/Misc/Entity_Level_Methodology.pdf" class="icon_pdf">PDF</a>
            <p>
                Most but not all entity-level transactions have qualified as deals under RCA&rsquo;s current methodology. Revisions include more specific guidelines for these transactions.</p>
        </li>
        <li><span style="font-weight: bold;">Updated Broker Ranking Methodology</span> (January 2012) <a href="/Misc/Brokers_Ranking_Methodology.pdf" class="icon_pdf">PDF</a>
            <p>
                All partial interests will receive credit and be valued at the pro-rated share. Specific standards for what qualifies an agent to receive credit as a broker have been incorporated, as have provisions for dispute resolution.</p>
        </li>
    </ul>
    <p>
        For more information, read our <a href="/#/glossary">glossary</a>.</p>
    <h3>
        Sources:</h3>
    <p>
        RCA has a team of highly trained researchers with access to a huge array of information sources around the world. The team is organized with specialists focused on specific geographic territories, particular property types and even capital groups, such as REITs.</p>
    <p>
        Worldwide, RCA has established relationships and licensed data from <a href="/#/dataPartners">leading information providers</a> in various markets, which augments RCA&rsquo;s independent research.</p>
    <p>
        The data is based largely on third-party reports deemed to be reliable and most transaction records are confirmed by two or more independent sources. Information is derived from proprietary research, including the cumulative sourcing and cross-referencing of all available information.</p>
    <p>
        These sources may include:</p>
    <ul class="RCAbullet">
        <li>Press releases & news reports</li>
        <li>SEC filings and public records</li>
        <li>Listing services (confidentiality honored)</li>
        <li>Other licensed databases </li>
        <li>Feedback from subscribers</li>
    </ul>
</div>