<div class="content_margin">
    <h1 class="centerColumn-title">
        Our Data</h1>
    <p>
        All of RCA&#39;s services are based on our proprietary database of commercial property transactions and the integrity of this data is our primary concern. We go to great lengths to ensure our data is timely, accurate and completely objective. While no information in this highly fragmented market is perfect, our research methodology captures many more property and portfolio transactions with the most complete set of details available and the fewest errors.</p>
    <p>
        RCA has established data collection and classification methodology including sourcing requirements and other procedures to ensure information is accurate and timely. Each transaction is meticulously organized, standardized and reviewed internally according to strict guidelines and quality control measures. RCA has attempted to conform wherever possible to the standards and definitions adopted by the leading industry organizations.</p>
    <p>
        The data is updated continuously, providing a nearly real-time view of investment activity and distressed property in the commercial real estate marketplace. The methodology and standardization provides a common base for trend analysis and comparisons across all markets and property types. Moreover, our research yields data that has never before been available for commercial real estate regarding capital flows, supply and demand of capital, transaction structures and the ability to rank the active players.</p>
    <h3>
        Coverage</h3>
    <p>
        This site and the reports herein represent the most comprehensive data set of investment activity compiled for the commercial real estate industry.</p>
    <h5>
        Geographic:</h5>
    <p>
        All markets globally for properties generally $10 million and greater and $2.5 million and greater in the US.</p>
    <h5>
        Property Types:</h5>
    <p>
        Office, industrial, retail, multi-family, hotel and development sites.</p>
    <p>
        See more information about <a href="/#/coverage">our coverage</a>.</p>
</div>