<div class="content_margin">
    <script type='text/javascript' src='https://c.la2c1.salesforceliveagent.com/content/g/js/32.0/deployment.js'></script>
    <script type='text/javascript'>
        liveagent.init('https://d.la2c1.salesforceliveagent.com/chat', '57240000000Cbet', '00D300000005ubR');
    </script>
    <script type="text/javascript">
        if (!window._laq) { window._laq = []; }
        window._laq.push(function () {
            liveagent.showWhenOnline('57340000000Cbg1', document.getElementById('liveagent_button_online_57340000000Cbg1'));
            liveagent.showWhenOffline('57340000000Cbg1', document.getElementById('liveagent_button_offline_57340000000Cbg1'));
        });</script>
    <h1 class="centerColumn-title">Contact Us</h1>
    <p>
        Our knowledgeable staff is available to answer questions and take feedback about our services.
    </p>

    <style>
        #contactlcol{
            display: inline;
            float: left;
            margin-bottom: 10px;
            margin-left: 0;
            margin-right: 10px;
            margin-top: 0;
            position: static;
            width: 212px;
        }
        #contactrcol{
            display: inline;
            float: left;
            margin-bottom: 10px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            position: static;
            width: 240px;
        }
    </style>
    <div id="contactlcol">
        <p>
            <strong style="color: #EA7517;">New York (HQ):</strong><br />
            <!-- FB Case 14352 -->
            110 Fifth Ave<br />
            New York, NY 10010<br />
            <span class="smallertext">phone</span> +1 212-387-7103<br />
            <span class="smallertext">TOLL-FREE</span> 1-866-REAL-DATA
            <br />
            &nbsp;(1-866-732-5328)<br />
            <script language="JavaScript" type="text/javascript">
                <!--
                var string1 = "service";
                var string2 = "@";
                var string3 = "rcanalytics.com";
                var string4 = string1 + string2 + string3;
                document.write("<a href=" + "mail" + "to:" + string1 + string2 + string3 + ">" + string4 + "</a>");
                //-->
            </script>
        <p>
            <strong style="color: #EA7517;">San Jose:</strong><br />
            Pruneyard Towers<br />
            1901 South Bascom Ave<br />
            Suite 200<br />
            Campbell, CA 95008<br />
            <span class="smallertext">phone</span> +1 408-371-8880
        </p>
        <p>
            <strong style="color: #EA7517;">London:</strong><br />
            71 Broadwick Street<br />
            London, W1F 9QY<br />
            United Kingdom<br />
            <span class="smallertext">phone</span> +44 207 297 6860
        </p>
    </div>
    <div ID="contactrcol">
        <p>
            <strong style="color: #003c78;">Sales &amp; Subscription Inquiries:</strong><br />
            <a href="/ContactRCA.aspx?action=3">Request information here</a>
        </p>
        <p id="datarequests_errors" runat="server">
            <strong style="color: #003C78;">Data Requests / Omissions:</strong><br />
            For special data requests, or to report an error or omission, click on the &quot;report a change / request info&quot; button on any results page, or email
            <script language="JavaScript" type="text/javascript">
                <!--
                var string1 = "info";
                var string2 = "@";
                var string3 = "rcanalytics.com";
                var string4 = string1 + string2 + string3;
                document.write("<a href=" + "mail" + "to:" + string1 + string2 + string3 + ">" + string4 + "</a>");
                //-->
            </script>
        </p>
        <p>
            <strong style="color: #003C78;">Client Service:</strong><br />
            Contact our Client Services team for any login or site issues:<br/>

            <img src="/images/live_chat/phone.png" width="16" height="14"/><b>Call:</b> +1 212 387 7103<br/>
            <img src="/images/live_chat/email.png" width="16" height="14" /><b>Email:</b>
            <script language="JavaScript" type="text/javascript">
                <!--
                var string1 = "service";
                var string2 = "@";
                var string3 = "rcanalytics.com";
                var string4 = string1 + string2 + string3;
                document.write("<a href=" + "mail" + "to:" + string1 + string2 + string3 + ">" + string4 + "</a>");
                //-->
            </script>
            <br />
            <img id="liveagent_button_online_57340000000Cbg1" style="display: none; border: 0px none; cursor: pointer" onclick="liveagent.startChat('57340000000Cbg1')" src="/images/live_chat/chat_online.png" width="16" height="14" /><img id="liveagent_button_offline_57340000000Cbg1" style="display: none; border: 0px none;" src="/images/live_chat/chat_offline.png" width="16" height="14" />
            <b>Chat:</b> M-F 9am - 6pm EST (click the icon to launch chat)<br/>

            <!-- Javascript Chat Popup Window -->
            <script language="JavaScript" type="text/javascript">
                <!--
                var string1 = "service";
                var string2 = "@";
                var string3 = "rcanalytics.com";
                var string4 = string1 + string2 + string3;
                document.write("<a href=" + "mail" + "to:" + string1 + string2 + string3 + ">" + string4 + "</a>");
                //-->
            </script>
        </p>
        <p id="scheduled_demos" runat="server">
            <strong style="color: #003C78;">Scheduled Training Sessions:</strong><br />
            <a href="/ContactRCA.aspx?action=2">Click here to select a time</a><br />
        </p>
        <p>
            <strong style="color: #003C78;">US Press Inquiries:</strong><br />
            Jim Costello, CRE, Senior Vice President
            <br />
            <script language="JavaScript" type="text/javascript">
                <!--
                var string1 = "jcostello";
                var string2 = "@";
                var string3 = "rcanalytics.com";
                var string4 = string1 + string2 + string3;
                document.write("<a href=" + "mail" + "to:" + string1 + string2 + string3 + ">" + string4 + "</a>");
                //-->
            </script>
        </p>
        <p>
            <strong style="color: #003C78;">EMEA Press Inquiries:</strong><br />
            Simon Mallinson, MRICS, Executive Managing Director, EMEA &amp; APAC<br />
            <script language="JavaScript" type="text/javascript">
                <!--
                var string1 = "smallinson";
                var string2 = "@";
                var string3 = "rcanalytics.com";
                var string4 = string1 + string2 + string3;
                document.write("<a href=" + "mail" + "to:" + string1 + string2 + string3 + ">" + string4 + "</a>");
                //-->
            </script>
        </p>
        <p>
            <strong style="color: #003C78;">New Business Development:</strong><br />
            Joe Mannina, Chief Operating Officer<br />
            <script language="JavaScript" type="text/javascript">
                <!--
                var string1 = "jmannina";
                var string2 = "@";
                var string3 = "rcanalytics.com";
                var string4 = string1 + string2 + string3;
                document.write("<a href=" + "mail" + "to:" + string1 + string2 + string3 + ">" + string4 + "</a>");
                //-->
            </script>
        </p>
    </div>
</div>