<ui-view></ui-view>
<div class="row">
    <div class="col-xs-12 welcome-jumbotron">
        <div>WELCOME TO <span class="real">R<span class="orange">E</span>AL CAPITAL ANALYTICS</span></div>
        The most current and comprehensive information on commercial property investment
    </div>
</div>
<div class="row" style="margin-top:40px;">
    <div class="col-sm-6 col-md-3 product-container" ui-sref="app.private.properties.transactions">
        <div class="product-circle-properties">
        </div>
        <div class="product-name">
            {{'PROPERTIES' | translate}}
        </div>
    </div>
    <div class="col-sm-6 col-md-3 product-container" ui-sref="app.private.investors">
        <div class="product-circle-investor">

        </div>
        <div class="product-name">
            {{'INVESTORS' | translate}}
        </div>
    </div>
    <div class="col-sm-6 col-md-3 product-container" ui-sref="app.private.trends">
        <div class="product-circle-trends">

        </div>
        <div class="product-name">
            {{'TRENDS' | translate}}
        </div>
    </div>
    <div class="col-sm-6 col-md-3 product-container" ui-sref="app.private.properties.capflows">
        <div class="product-circle-capflows">

        </div>
        <div class="product-name">
            {{'CAPITAL_FLOWS' | translate}}
        </div>
    </div>
</div>
