<div class="legend" style="z-index: 3;">
    <div style="text-align: center; vertical-align: middle;"><label>My Shape</label></div>
    <div>
        <span class="btn-group pull-left">
            <button type="button" class="btn btn-sm btn-success ng-binding" ng-click="transactionsCtrl.OpenSaveShapeModal()">Save</button>
            <button type="button" class="btn btn-sm btn-danger ng-binding" ng-click="transactionsCtrl.ClearLastShapeDrawn()">Clear</button>
        </span><br/><br/>
    </div>
</div>
