<div class="legend" style="z-index: 3;">
    <label>Q Score</label><br/>
    <img src="/assets/images/mobile_icons_color/greyq.png"/> NA<br/>
    <img src="/assets/images/mobile_icons_color/blueq.png"/> 0-20<br/>
    <img src="/assets/images/mobile_icons_color/greenq.png"/> 21-40<br/>
    <img src="/assets/images/mobile_icons_color/yellowq.png"/> 41-60<br/>
    <img src="/assets/images/mobile_icons_color/orangeq.png"/> 61-80<br/>
    <img src="/assets/images/mobile_icons_color/redq.png"/> 81-100
</div>
